.title h1 {
  font-family: 'Xanh Mono', monospace;
}

.grid h2 {
  font-family: 'Big Shoulders Inline Text', cursive;
  color: #706897;
}

.title01 {
  font-family: 'Syne Mono', monospace;
  color: #150485;
}
.results {
  font-family: 'Source Code Pro', monospace;
  color: #590995;
}

.footer {
  font-family: 'Bebas Neue', cursive;
  color: red;

}
